*.xlsx
*.csv
*.png
AMetcalf_*.ipynb
*.zip
convergence_tests/
*.log
fitted_timescales.tex*
MLE_uncert*.ipynb
__pycache__
*.npy
sorted_timescale*
tables/
timescale*
SEM_traverse_data/*.zip
SEM_traverse_data/*.png
SEM_traverse_data/1010CE/*.png
SEM_traverse_data/1657CE/*.png
SEM_traverse_data/341CE/*.png
SEM_traverse_data/5680CE/*.png
