*.csv
*.log
*.npy
*.png
*.xlsx
*.zip
AMetcalf_*.ipynb
MLE_uncert*.ipynb
SEM_traverse_data/*.png
SEM_traverse_data/*.zip
SEM_traverse_data/1010CE/*.png
SEM_traverse_data/1657CE/*.png
SEM_traverse_data/341CE/*.png
SEM_traverse_data/5680CE/*.png
__pycache__
all_timescales.tex
bad_samples.xls
convergence_tests/
fitted_timescales.tex*
sorted_timescale*
soufriere_all_pop_timescales.pdf
tables/
timescale*